{
    "Comment": "string",
    "Changes": [{
        "Action": "UPSERT",
        "ResourceRecordSet": {
            "Name": "${DOMAIN_NAME}.",
            "Type": "A",
            "ResourceRecords": [{
                "Value": "${TARGET_IP}"
            }],
            "TTL": 300
        }
    }]
}