{
    "Comment": "string",
    "Changes": [{
        "Action": "UPSERT",
        "ResourceRecordSet": {
            "Name": ";domain_name;.",
            "Type": "A",
            "ResourceRecords": [{
                "Value": ";target_ip;"
            }],
            "TTL": 10
        }
    }]
}